body {
    color: rgb(255, 255, 255);
    background: rgb(65, 63, 63);
    text-align: center;
    margin: 10px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    background: rgb(32, 31, 34);
    border-bottom: solid 5px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    font-size:400%;
    padding: 10px;
    margin-top: 10px;
}

h2 {
    font-size: 300%;
    margin: 10px;
}

h3 {
    font-size: 200%;
    margin: 10px;
}


li {
    font-size: 100%;
    margin: 15px;
}

p{
    font-size: 20px;
    margin: 10px;
}

.itl {
    font-style: italic;
}

.icon {
    height: 25%;
}
